<h2>Cart</h2>

<p>
	<a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
	<span><b>{{ item.name }}</b></span>
	<span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
	<div>
		<label for="name">
      Name
    </label>
		<input id="name" type="text" formControlName="name">
  </div>

	<div>
		<label for="address">Address</label>
		<input id="address" type="text" formControlName="address">
  </div>

	<div>
		<label for="phone">Phone</label>
		<input id="phone" type="text" formControlName="phone">
  </div>

	<button type="submit">Purchase</button>
</form>
<br>
<button [routerLink]="['']">
  <span class="material-icons" style="color: #fff;">arrow_back</span>
</button>